*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%; //10px

  @include respond(tab-land) {
    font-size: 56.5%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }

  @include respond(big-desktop) {
    font-size: 75%;
  }
}

body {
  line-height: 1.5;
  color: #000000;
  font-family: 'Roboto', serif;
  box-sizing: border-box;
}

.container {
  padding: 0 10rem;

  @media screen and (max-width: 600px) {
    padding: 0 2rem;
  }
}