*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%; //10px
}

body {
  line-height: 1.5;
  color: #000000;
  font-family: 'Roboto', serif;
  box-sizing: border-box;
}

.container {
  padding: 0 10rem;

  @media screen and (max-width: 600px) {
    padding: 0 2rem;
  }
}