.about {
  background: white;
  width: 100vw;
  margin: 5rem 0;

  @include respond(tab-port) {
    height: auto;
    margin: 2.5rem 0;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    .about__info {
      padding: 2rem;

      p {
        color: black;
        font-family: inherit;
        max-width: 80%;
      }
    }

    img {
      width: 85%;

      @include respond(tab-port) {
        width: 100%;
      }
    }
  }
}

.specialties {
  width: 100vw;
  padding: 5rem 0;
  background-image: linear-gradient(to right bottom, rgba(black, .5), rgba(black, .5)), url('/img/bg3.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__items {
    padding: 0 10rem;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 1rem;
  }
}

.our-menu {
  width: 100vw;
  padding: 5rem 0;
  background-image: linear-gradient(to right bottom, rgba(white, .85), rgba(white, .85)), url('/img/bg1.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    color: black;
  }
}

.menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-gap: 1rem;
  height: auto;
  width: 100vw;
  padding: 0 10rem;

  &__items {
    width: 100%;
    padding: 2rem 10rem;

    &-info {
      display: flex;
      flex-direction: column;
      position: relative;
      margin-bottom: 1rem;

      p {
        margin: 0;
      }

      h2 {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
}