.main-heading {
  color: #ffffff;
  font-size: 3.5rem;
  z-index: 10;
  font-family: 'Crimson Text', serif;
}

p {
  color: #ffffff;
  margin: 1.75rem 0;
  font-size: 1.2rem;
  max-width: 60%;
}

h2 {
  font-size: 3rem;
  color: #4AAB00;
  font-family: 'Crimson Text', serif;
  text-transform: uppercase;
}

h3 {
  font-size: 2.5rem;
  color: #4AAB00;
  font-family: 'Crimson Text', serif;
  border-bottom: 2px solid #4AAB00;
  text-transform: uppercase;

}

h4 {
  font-size: 2rem;
  color: #4AAB00;
  font-family: 'Crimson Text', serif;
}