.navigation {
  width: 100vw;
  height: 10vh;
  background: #0E0D13;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .container {
    display: flex;
    flex-direction: row;

    .navigation__wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;

      &-links {
        display: flex;
        flex-direction: row;

        li {
          text-decoration: none;

          a {
            color: white;
            font-family: 'Roboto', sans-serif;
            text-decoration: none;
            font-size: 1.2rem;
            border-right: 2px solid white;
            padding-right: 10px;
          }
        }
      }
    }

    button {
      margin-left: 10px;
    }
  }
}

.logo {
  color: white;
  font-family: 'Crimson Text', serif;
}