.navigation {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(#000000, .5);
  width: 100vw;


  &__wrapper {
    padding: 0 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10vh;
  }

  &__wrapper--links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    li {
      text-decoration: none;

      a {
        color: white;
        font-size: 1.65rem;
        text-decoration: none;
        border-right: 2px solid white;
        padding-right: 1rem;
      }
    }
  }
}

.logo {
  color: white;
  text-transform: capitalize;
  flex: 1;
}

.fas {
  color: white;
  font-size: 2rem;
  padding-right: 2rem;
}